#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: mysql
			host: localhost
			dbname: food_manager
			username: root
			password: r00td3v3l

	php:
		date.timezone: Europe/Bratislava
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
			user: %database.username%
			password: %database.password%
			reflection: Nette\Database\Reflection\DiscoveredReflection

		session:
			expiration: 14 days

	services:
		database: @nette.database
		logger: \Logger\FileLogger
		authenticator: \Authenticator
		authorizator: \Authorizator
		uploader: \Uploader
		users_model: \UsersModule\UsersModel
		ingredients_model: \FoodsModule\IngredientsModel
		foods_model: \FoodsModule\FoodsModel
		tags_model: \FoodsModule\TagsModel
		foods_pictures_model: \FoodsModule\FoodsPicturesModel
		mailer_model: \MailModule\MailerModel
		translator: \Translator

	factories:


production < common:

development < common:
