form{
	margin-top: 20px;
}

.form-big{
	margin-top: 20px;
}

form>table{
	margin-left: auto;
	margin-right: auto;
}

form#search-form{
	margin-top: 0;
}

table#foods-list{
	width: 100%;
}

.round-marker{
	border-radius: 4px;
	background-color: #CCC;
	color: black;
	padding: 1px 3px;
	line-height: 1.75em;
}

.less-important {
    color: #999;
}

h4.full-page-notice {
    text-align: center;
    padding-top: 40%;
}

table#foods-list tbody tr:hover{
	background: #eee;
}

input.amount-input[type=text]{
	width: 20%;
	float:right;
}

textarea.ingredient-input {
	min-height: 0;
	float:left;
	width: 100% !important;
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc  !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)  !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)  !important;
	color: rgba(0, 0, 0, 0.75)  !important;
	display: block;
	font-size: 0.875em  !important;
	margin: 0 0 1em 0;
	padding: 0.5em;
	height: 100% !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	line-height: 20px !important;
}

div.text-arrow {
	height: 25px !important;
}

div.text-core {
	width: 100%;
	float:left;
}

td.ingredients {
	width: 350px;
}

td.ingredients div.text-core {
	height: 2em !important;
	margin: 0 0 1em 0;
	width: 78%;
	float:left;
}


div.text-core .text-wrap {
	width: 100% !important;
	height: 100% !important;
}

div.ingredient-input-div {
	float:left;
}

textarea.tags-input {
	width: 100% !important;
}

#ingredients-list ul {
	list-style-position: inside;
}

#images {
	margin-right: 20px;
}

.small-images img{
	margin-left: auto;
	margin-right: auto;
}

.food-headline {
	background-color: #DDD;
	margin-bottom: 10px !important;
	padding-top: 3px !important;
}

.paginator {
	background-color: #DDD !important;
}

.paginator i {
	font-weight: bolder;
}

.food-headline .action {
	float: right;
	margin-left: 12px; 
}

.header-form {
	background-color: #111111;
}

.clearing-feature li {
	display: none;
}

.clearing-feature li.clearing-featured-img {
	display: block;
}

textarea[name=description] {
	height: 8em;
}

.picture-edit-container {
	display: inline-block;
	margin:0.5%;
}

.picture-edit-container>a {
	padding-bottom:5px !important;
}

#content-container {
	margin-bottom: 1em;
}

input[type=file] {
	width: 200px;
}

.submit-search {
	border: none;
	border-bottom: 1px solid #2284a1;
}

th>label {
	display: inline-block;
}

li.clearing-featured-img.small {
	width: 48%;
	display:inline-block;
	margin-top: 3px;
}

blockquote>footer {
	text-align: right;
	font-style: italic;
}

blockquote:hover {
	background-color: #DDD;
}

blockquote>footer>span.hideable{
	display: none;
}

blockquote:hover>footer>span.hideable{
	display:inline;
}

.clearing-thumbs img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.actions {
	text-align: center;
	width: 10%;
}

#foods-list thead {
	background-color: #DDD;
}

#food-author {
	font-size: 0.6em;
}

.text-content {
    padding-top: 1em;
}

/*------------Big screens-----------------*/
@media all and (min-width: 60em) {
  .clearing-thumbs {
    padding-right: 15px;
  }
  
  .picture-edit-container {
		width: 23.6%;
	}
}

/*------------Small screens-----------------*/
@media all and (max-width: 60em) {
	td.ingredients {
		width: 100%;
	}
	
	.form-big{
		margin-top: 0;
		min-height: 100%;
	}
	
	.picture-edit-container {
		width: 48%;
	}
	
	li.clearing-featured-img.small {
		display:none;
	}
	
	.edit-images-accordion {
		margin-bottom: 0;
	}
}